/* PrivacyPolicy.scss */

.privacy-policy {
    margin: 0 auto;
    // padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  .privacy-policy h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
    font-weight: 800;
  }
  
  .privacy-policy h3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
  }
  
  .privacy-policy p {
    margin-bottom: 14px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
  }
  
  /* Add more CSS rules for other elements as needed */
  